* {
    margin: 0;
    padding: 0;   
}

body {
    font-family: 'Poppins', sans-serif;
    color: #454959;
    font-weight: 300;
}

ul li {
    background-color: white;
    margin: 20px;
    padding: 10px;
    font-weight: 700;
}

header, footer {
    background-color:#f8f8ff;
}